<div class="display-results-title">
  <i class="fa fa-search" aria-hidden="true"></i> Displaying results for <span><%= params[:postcode] %></span>
  <form action="search">
      <div class="search-fade form-group form-inline">
        <input type="text" name="postcode" placeholder="Update postcode" class="form-control width-600">
        <button type="submit" class="form-control btn btn-primary">Boom!</button>
      </div>
    </form>
</div>


<div class="cards-with-map">
  <div class="cards">
    <%= render 'shared/service_card' %>
  </div>
  <div id="map" class="map"></div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    var styles = [
    {
        "stylers": [
            {
                "hue": "#4786fe"
            },
            {
                "saturation": 89
            }
        ]
    },
    {
        "featureType": "water",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "administrative.country",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    }
];

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' }, provider: { styles: styles } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>

