<div class="navbar-pet">

  <a href="" class="navbar-pet-brand">
    <div class="logo-circle">
      <i class="fa fa-paw" aria-hidden="true"></i>
    </div>
    <div class="logo-text">Pet Boom!</div>
  </a>

<div class="navbar-pet-middle">
  <a href="" class="nav-category-pet navbar-pet-link">
    <%= image_tag("walk.png") %>
  </a>
  <a href="" class="nav-category-pet navbar-pet-link">
    <%= image_tag("sitting.png") %>
  </a>
  <a href="" class="nav-category-pet navbar-pet-link">
    <%= image_tag("grooming.png") %>
  </a>
</div>
  <!-- Right Navigation -->
  <div class="navbar-pet-right">

    <a href="" class="navbar-pet-item navbar-pet-link">Login</a>
    <a href="" class="navbar-pet-item navbar-pet-link">Sign up</a>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-pet-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-pet-dropdown-menu">
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>
