
<div class="cards">
  <% @services.each do |service| %>
  <div class="white-card-lg">
    <div class="white-card-category"><%= service.category %></div>
    <div class="white-card-description">
      <h2><%= service.title %></h2>
      <p><%= service.description %></p>
    </div>
    <img class="white-card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
    <a class="white-card-link" href="#" ></a>
    <div class="white-card-book-link">
      <a href="#" class="btn">Book</a>
    </div>
  </div>
  <% end %>
</div>
