
<div class="container">
  <div class="cards">
    <div class="row">
      <% @services.each do |service| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="white-card-lg">
          <div class="white-card-user-details">
            <img class="white-card-user avatar" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <span class="user-name"><%= service.user.first_name %></span>
            <span>
              <% if service.category == "walking" %>
                  W
              <% elsif service.category == "sitting" %>
                  S
              <% else %>
                  G
              <% end %>
            </span>
          </div>
          <div class="white-card-description">
            <h2><%= service.title %></h2>
            <p><%= service.description.truncate(95) %></p>
          </div>
          <div class="white-card-user-rating">
            <span><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
            <span>30$</span>
          </div>
          <div class="white-card-book-link">
            <a href="#" class="btn">Book</a>
          </div>
          <%= link_to "", service_path(service), class:"white-card-link"  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
