<div class="card profile">
  <div class="card-content">
    <%= cl_image_tag current_user.photo, height: 250, width: 300, crop: :fill %>
  </div>
</div>


<ul>
  <% current_user.bookings.each do |booking| %>
    <li><%= booking.status %></li>
  <% end %>
</ul>


<%= link_to 'edit', edit_user_registration_path %>


