
<div class="container">

<h1>Pet Boom</h1>
<h3>Find your the best pet service faster!</h3>
<form action="bookings/search">
  <div class="form-group form-inline">
    <input type="text" name="cetegory" placeholder="category" class="form-control">
    <input type="date" name="start_date" placeholder="" class="form-control">
    <input type="date" name="end_date" placeholder="" class="form-control">
    <button type="submit" class="form-control btn btn-primary">Find your Boom!</button>
  </div>
</form>
</div>
