/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.notices-container {
  width: calc(100vw - 40px);
  position: absolute;
  top: 90px;
  left: 20px;
  text-align: center;
  border-radius: 3px;

}

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
