.container-white
{
    width: 100%;
    margin: 0 auto;
    padding: 40px;

    text-align: center;

    background-color: #f9fbfc;
    transition: scale .5s ease-in-out;
}

.white-card-lg:hover {
  transform: scale(1.02)
}

.white-card-lg:hover .btn-book {
  background-color: $brand-primary;
  color: #fff;
}


.cards
{
    width: 100%;
    h2
    {
        padding: 30px;
    }
}

.white-card-lg
{
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 350px;
    margin: 10px 0 30px 0;
    padding: 0;

    color: black;
    border-radius: 4px;
    background-color: white;

    align-items: center;
    justify-content: space-between;
}
.white-card-user-details
{
    display: flex;

    width: 100%;
    padding: 20px;

    align-items: center;
    justify-content: space-between;
    .user-name
    {
        text-align: left;
        text-indent: 15px;

        flex-grow: 1;
    }
}


.white-card-description
{
    width: 90%;
    padding: 20px;

    border: 1px solid #eceff6;
    border-width: 1px 0 0 0;
    h2
    {
        font-size: 22px;
        padding:10px;
        margin: 0;
    }
    p
    {
        font-size: 14px;
        font-weight: lighter;
    }
}
.white-card-link
{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;

    width: 100%;

    opacity: 0;
    background: black;
}


.white-card-book-link
{
    a
    {
        color: black;
    }
}

.white-card-user-rating
{
    display: flex;

    width: 90%;
    height: 75px;
    padding: 10px;

    color: rgba(50, 50, 50, .8);
    border: 1px solid #eceff6;
    border-width: 1px 0 0 0;

    align-items: center;
    justify-content: space-between;
    i
    {
        font-size: 23px;

        margin: 0 0 0 5px;

        color: rgba(50, 50, 50, .6);
    }
}

.tag-container
{
    position: relative;

    display: flex;
}

.tag-box
{
    font-size: 12px;

    padding: 5px 10px 5px 10px;

    letter-spacing: 1px;

    color: #fff;
    border-radius: 0 2px 2px 0;
    background-color: $brand-primary;
}

.tag-point
{
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-right: 12px solid $brand-primary;
    border-bottom: 15px solid transparent;
}

.tag-hole
{
    position: absolute;
    top: 12px;
    left: 9px;

    width: 5px;
    height: 5px;

    border-radius: 50%;
    background-color: #fff;
}

.btn-book
{
    font-size: 15px;
    line-height: 58px;

    display: block;

    width: 100%;

    letter-spacing: 1px;
    text-transform: uppercase;

    background-color: #f2f5f7;
    color: #c9d5db;
}
