// Import your components CSS files here.
@import 'alert';
@import 'navbar';
@import 'footer';
@import 'card';
@import "avatar";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import 'css_grid';

*
{
    box-sizing: border-box;
}

body
{
    background-color: #f6f7fb;
    font-family: Montserrat;
    animation-name: fade-in;
    animation-duration: .8s;
    opacity: 1;
}

@keyframes fade-in {
    from {  opacity:0;}
    to {  opacity:1;}
}


.page {
  width:100%;
  height: calc(100vh - 70px);
  margin: 70px 0 0 0;
}

