// Import your components CSS files here.
@import 'alert';
@import 'navbar';
@import 'footer';
@import 'card';
@import "avatar";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');


*
{
    box-sizing: border-box;
}

body
{
    background-color: #f6f7fb;
    font-family: Montserrat;
}

.page {
  width:100%;
  height: calc(100vh - 70px);
  margin: 70px 0 0 0;
}

