/* Main navbar */


.navbar-pet-middle img
{
    height: 20px;
}

.navbar-pet-middle
{
    display: flex;

    width: 200px;

    justify-content: space-evenly;
}

.nav-category-pet:hover
{
    text-decoration: none;

    color: #da552f;
}

.navbar-pet
{
    position: fixed;
    z-index: 1;
    top: 0;

    display: flex;

    width: 100%;
    height: 70px;
    padding: 0 120px;

    transition: all .3s ease;

    background-color: rgba(255,255,255,1);

    align-items: center;
    justify-content: space-between;
}

.transparent-nav
{
    background-color: rgba(255,255,255,0) !important;
}

.white-logo
{
    color: #fff !important;
}

/* Logo */
.navbar-pet-brand
{
    line-height: 70px;

    display: flex;
}

@media (min-width: 1000px)
{
    .logo-text
    {
        font-weight: 700;
        line-height: 70px;

        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width:1000px)
{
    .logo-text
    {
        display: none;
    }
}

.navbar-pet-brand:hover
{
    text-decoration: none !important;

    color: #989898;
}

.navbar-pet-brand:hover .logo-circle
{
    background-color: #989898;
}


.logo-circle
{
    line-height: 36px;

    width: 36px;
    height: 36px;
    margin: 17px 12px 0 0;

    text-align: center;

    border-radius: 50%;
    background-color: $brand-primary;
    i
    {
        font-size: 20px;

        margin: 0;

        color: #fff;
    }
}

.icon
{
    display: block;

    height: 22px;
    margin: 0;
}

.icon-path
{
    fill: #fff;
}

.icon-path-blue
{
    fill: $brand-primary;
} ​

.icon-left
{
    display: inline;
}

.icon-text-white
{
    font-size: 14px;

    display: inline;

    margin: 0 30px 0 11px;

    color: #fff;
}

.icon-text-blue
{
    font-size: 14px;

    display: inline;

    margin: 0 30px 0 11px;

    color: $brand-primary;
}


/* User Avatar */
.navbar-pet .avatar
{
    width: 35px;
    height: 35px;

    border-radius: 50%;
}

/* Right section */
.navbar-pet-right
{
    display: flex;

    align-items: center;
    justify-content: flex-end;
}

/* Basic navbar item */
.navbar-pet-item
{
    padding: 0 20px;

    cursor: pointer;
}

/* Navbar link */
.navbar-pet-link
{
    font-size: 16px;
    font-weight: 600;
    line-height: 70px;

    display: flex;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $brand-primary;

    align-items: center;
    justify-content: center;
}
.navbar-pet-link:hover
{
    text-decoration: none;

    color: #989898;
}

/* Dropdown menu */
.navbar-pet-dropdown-menu
{
    margin-top: 15px;

    border-color: #e6e6e6;
    box-shadow: 1px 1px 4px #e6e6e6;
}
.navbar-pet-dropdown-menu li > a
{
    font-size: 15px !important;
    font-weight: lighter !important;
    line-height: 22px !important;

    padding: 10px 20px;

    transition: color .3s ease;

    color: #999 !important;
}
.navbar-pet-dropdown-menu li > a:hover
{
    color: black !important;
    background: transparent !important;
}
.navbar-pet-dropdown-menu:before
{
    position: absolute;
    top: -6px;
    right: 10px;

    width: 10px;
    height: 10px;

    content: ' ';
    transform: rotate(45deg);

    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    background-color: white;
}

.btn-white
{
    font-size: 14px;

    margin: 0 0 0 20px;
    padding: 12px 33px;

    transition: background-color .2s ease-in-out;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    border-radius: 2px;
    background-color: none !important;
}

.btn-white:hover
{
    color: #fff;
    border-color: $brand-primary !important;
    background-color: $brand-primary !important;
}

.btn-to-blue
{
    color: $brand-primary !important;
    border-width: 1px;
    border-style: solid;
    border-color: $brand-primary !important;
}

.btn-to-blue:hover
{
    color: #fff !important;
    border-width: 1px;
    border-style: solid;
    border-color: $brand-primary !important;
}

.avatar-container
{
    position: relative;

    display: flex;
    cursor: pointer;
    .fa-chevron-down
    {
        font-size: 13px;
        line-height: 34px;

        z-index: 1;

        margin: 0 20px 0 8px;

        color: #fff;
    }
}

.avatar-menu
{
    display:none;
    position: absolute;
    top: 53px;
    right: 18px;
    width:200px;
    background-color: $brand-primary;
    border-radius: 3px;
    .menu-link {
      width: 100%;
      border: 1px solid #fff;
      border-width: 0 0 1px 0;
      line-height: 35px;
      color: #fff;
      display:block;
      text-indent: 13px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
    }
    a:last-child { border-width:0; }
}

.nav-avatar
{
    z-index: 1;

    width: 40px;
    height: 40px;
    margin: 0 0 0 20px;

    border: 3px solid #fff;
    border-radius: 50%;
}

.plus {
  padding: 12px 17px !important;

}

//model style

.model-cover {
  display: none;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: rgba(71, 134, 254, 0.5);
  position:absolute;
  left:0;
  z-index:99;
}

.create-model {
  width: 550px;
  height: 500px;
  position:absolute;
  background-color:#fff;
  border-radius:3px;
  top:50%;
  left:50%;
  margin: -250px 0 0 -275px;
  padding:50px;
}

.model-close {
  position:absolute;
  top:20px;
  right:27px;
  cursor: pointer;
  i {
    color: #fff;
    font-size:30px;
    line-height:50px;
  }
}

